@import
:root {
  --blue: #235789;
  --yellow: #f1d302;
  --white: #fdfffc;
  --black: #020100;
  --red: #ed1c24;
  --electric-blue: #0000ee;
  --pink: #f79d84;
  --green: #52be85;
}


body {
  margin: 0px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #020100;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: 'VT323';
}


.btn {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 600;
  border-color: #020100;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #020100;
}

a:visited {
  color: #020100;
}

a:hover {
  color: #f79d84;
}

a:active {
  color: #f79d84;
}

hr {
  border-style: none;
  border: 1px solid #020100;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 80vh;
}

.navbar {
  margin-left: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* background-image: url('dancing.gif');
  background-size: 140px; 
  background-repeat: no-repeat; */
}

.footer {
  text-align: center;
}

.salle {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  writing-mode: vertical-lr;
}

.body {
  display: flex;
  flex-direction: row;
}

.homeimg {
  display: flex;
  margin-top: 100px;
  margin-right: 150px;
  height: 150px;
  border: 2px solid #020100;
}

.astro {
  margin-top: 50px;
}

.marquee {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.et {
  height: 50px;
}

.text {
  display: inline-block;
  margin: 100px;
  color:#020100;
}

.textabout {
  display: flex;
  margin-top: 33px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 13px;
  color: #020100;
  text-align: justify;
}

.cards {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100%;
  }

.cards img {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 15vw;
}


.prog {
  min-width: 100vh;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.prog-img {
  min-width: 100vh: 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.contact-all {
  display: flex;
  flex-direction: column;
}

.contact {
  margin-top: 30px;
  min-width: 100vh;
  display: flex;
  justify-content: space-around;
}

.contact-img {
  min-width: 100vh: 
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.contact-img img {
  margin-top: 100px;
  height: 150px;
  border: 2px solid #020100;
}

.strong {
  color: #f79d84;
  font-weight: bold;
}

.keywords {
  color: #52be85;
}

.musique-row {
  margin: 50px;
}

.musique-col {
  margin-top: 15px;
  border: 2px solid #020100;
}

iframe {
  /* border: 2px solid #020100;*/
  height: 150px;
  width: 150px;
}
